
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.header{
  height: 100vh;
  width: 100vw;
  background: black url('../img/bg2.jpg') no-repeat top center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header__title {
  font-family: 'Satisfy', cursive;
  margin: 2rem 0 1rem 0;
  font-size: 12vw;
  mix-blend-mode: exclusion;
}

.header__slogan {
  display: inline-block;
  padding: .25rem;
  font-size: 1rem;
  font-style: italic;
  background: rgba(0,0,0,.5);
}

.header__logo {
  width: 200px;
  max-width: 50vw;
  height: auto;
  background: black;
}
.header__nav {
  display: none;
}

.wrap{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.rules {
  max-width: 780px;
  margin: 0 auto;
}

h1{
  font-size: 3rem;
  display: block;
  text-align: center;
}

#rules {

}

.segments {
  margin: 0 auto;
  display: inline-block;
}

.segments__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.segments__item {
  border: 1px solid #eee;
  margin: 0 1rem 1rem 0;
}
.segments__item:last-child{
  margin-right: 0;
}