{% assign sortedAgendaItems = site.categories.agenda | sort: 'event_date' %}
<h2>Agenda items:</h2>

<table role="table" class="agenda-table">
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader">Event</th>
        <th role="columnheader">Date</th>
        <th role="columnheader">Distance</th>
        <th role="columnheader">Surface</th>
        <th role="columnheader">Elevation</th>
      </tr>
    </thead>
    <tbody role="rowgroup">
        {% for agendaItem in sortedAgendaItems %}
        <tr role="row" class="{% if agendaItem.highlight %}highlight {% endif %}"> 
            <td role="cell">{% if agendaItem.link %}<a href="{{agendaItem.link}}">{{agendaItem.title}}</a>{% else %}{{agendaItem.title}} {% endif %}</td>
            <td role="cell">{{agendaItem.event_date | date: "%d-%m-%Y" }}</td>
            <td role="cell">{{agendaItem.distance | replace: ',', '' | divided_by: 1000 | append: 'km' }}</td>
            <td role="cell">{{agendaItem.surface}}</td>
            <td role="cell">{% if agendaItem.elevation %}{{agendaItem.elevation | replace: ',', ''| append: 'm' }} {% endif %}</td>
          </tr>
	    {% endfor %}
    </tbody>
  </table>

  <hr>