<header class="header">

    <h1 class="header__logo">
        <span class="header__title sr-only">Lillo Blaze Cup 2020</span>
        <img class="header__logo__img" src="{{ "/assets/img/lillo_blazecup.png" | relative_url }}" alt="Lillo Blaze Cup Logo">            
    </h1>

    <div class="header__inner">
        <div class="header__intro">
            <span class="header__intro__date"><time datetime="2020-05-01 00:00">01. mai</time> til <time datetime="2020-07-31 00:00">31. juli</time></span>
            <h1 class="header__intro__text1">Hvem er kongen og dronninga av Lillomarka?</h1>
            <h1 class="header__intro__text2 vr-type-1">En virtuell stiløpecup</h1>

            <div class="header__sponsor">
                <h3 class="header__sponsor__title">Med hjelp fra</h3>

                <div class="header__sponsor__item">
                    <a tabindex="3" href="https://arcteryx.com/no/no/">
                        <img src="{{ "/assets/img/arcteryx_oslo_logo.png" | relative_url }}" alt="Arc'teryx Oslo Logo">
                    </a>
                </div>
            </div>
        </div>

        <nav class="header__nav" id="nav">
            <button tabindex="-1" id="nav-burger">
                <span class="burger-lines">
                    <span class="burger-line-1"></span>
                    <span class="burger-line-2"></span>
                    <span class="burger-line-3"></span>
                </span>
                <span class="burger-text">Meny</span>
            </button>

            <ul class="header__nav__list" >
                <li class="header__nav__item">
                    <a tabindex="1" class="header__nav__link" href="#ruter" data-scroll="ruter">Ruter</a>
                </li>
                <li class="header__nav__item">
                    <a tabindex="2" class="header__nav__link" href="#regler" data-scroll="regler">Regler</a>
                </li>
                <!--<li class="header__nav__item">
                    <a tabindex="3" class="header__nav__link" href="#premier" data-scroll="regler">Premier</a>
                </li>-->
                <li class="header__nav__item">
                    <a tabindex="4" class="header__nav__link" href="#scoreboard" data-scroll="ledertabeller">Scoreboard</a>
                </li>
            </ul>

        </nav>
    </div>
</header>