<h3>Stirsdag Classic</h3>

<table class="leaderboards__table">
    <thead>
    <tr> 
        <th>#</th>
        <th>Navn</th>
        <th>Poeng</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>👑</td>
        <td>Patrick Stangbye</td>
        <td>57,0</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Hans Kristian Smedsrød</td>
        <td>57,4</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Truls Dahlsveen</td>
        <td>65,1</td>
        </tr>
        <tr>
        <td>4</td>
        <td>Eirik J</td>
        <td>71,4</td>
        </tr>
    </tbody>
</table>

<h3>Lilo Trail</h3>
<table class="leaderboards__table">
    <thead>
    <tr>
        <th>#</th>
        <th>Navn</th>
        <th>Poeng</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>👑</td>
        <td>Patrick Stangbye</td>
        <td>63,6</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Antoinne Mnn</td>
        <td>63,7</td>
        </tr>
    <tr>
    <tr>
        <td>3</td>
        <td>Inger Aaberg</td>
        <td>71</td>
    </tr>
    
    <tr>
        <td>4</td>
        <td>Bjørnar Liaskar</td>
        <td>80,6</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Birte Mari Steen</td>
        <td>110,0</td>
    </tr>
    
    <tr>
        <td>6</td>
        <td>Henrik Kvisgaard</td>
        <td>105,5</td>
    </tr>
    </tr>
    </tbody>
</table>

<h3>Lillomarka Rundt</h3>
<table class="leaderboards__table">
    <thead>
    <tr>
        <th>#</th>
        <th>Navn</th>
        <th>Poeng</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>👑</td>
        <td>Didrik Hermansen</td>
        <td>84,0</td>
    </tr>
    <tr>
        <td>👑</td>
        <td>Hans Kristian Smedsrød</td>
        <td>84,0</td>
    </tr>
</table>

<h3>Sammenlagt</h3>
<table class="leaderboards__table">
    <thead>
    <tr>
        <th>#</th>
        <th>Navn</th>
        <th>Poeng</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>👑</td>
        <td>Luca Roncoroni</td>
        <td>kalkulering pågår..</td>
    </tr>
    </tbody>
</table>