/*
* Breakpoints
* ======================================================================== */
$breakpoints: (
    'small': 320px,
    'medium': 700px,
    'large': 1024px,
    'xLarge': 1400px
);

/* Colors
* ======================================================================== */
$sb-black: #1a1a1a;
$sb-navyBlue: #0f1722;
$sb-orange: #fd9c31;
$sb-pink: #fc5584;
$sb-grey: #6c6c6c;
$sb-grey2: #5b5b5b;
$sb-grey3: #9B9B9B;

  